<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>
<div class="container">
    <h2>Package Weight = <%= weight %></h2>
    <h2>Package Type = <%= type %></h2>
    <h2>Shipping Price = <%= price %></h2>
</div>
</body>
</html>
